body {
	margin:0 0 50px 0;
}

#title {
	font:50pt Impact;
	text-align:center;
	color:#0F0F0F37;
	margin: 0 0 10px 0;
}

#download {
	display:block;
	width:70vw;
	height:50px;
	font:17pt Courier;
	text-align:center;
	background:#232353;
	color:#F1F1F1;
	margin:10px auto;
}

#titleDiv {
	background-image: url(adam-chang-IWenq-4JHqo-unsplash-title.jpg);
}

#inputTable {
	display:block;
	margin:auto auto 10px auto;
	padding:10px 0 0 0;
}

#canvas {
	display:block;
	margin:auto;
	padding:0;
}