#titleDiv {
	background: #232323;
	padding: 10px;
	margin: 10px 0px 10px 0px;
}

#canvas {
	width:640px;
	height:360px;
}

h1{
color:#F1F1F1;
font:37px Courier New;
text-align:center;
margin:17px 0px 0px 0px;
}
p {
color:#F1F1F1;
margin:0px 0px 17px 0px;
font:17px Courier New;
text-align:center;

}


